body {
  font-weight:bold !important;
}

.card-title {
	color: #ffffff !important;
}

.custom-text-white {
	color: #ffffff !important;
}

.custom-subtitle {
	font-size: 1.4em;
}

.custom-subtitle-white {
	color: #ffffff !important;
	font-size: 1.2em;
	/*font-weight: bold;*/
}

.jumbotron {
	background-color: rgba(80, 30, 88, 0.4) !important;
}

.author {
	color: #ffffff !important;
}
