body {
  font-weight:bold !important;
}

code {
	color: #ffffff;
	text-align: center;
}

figure {
	text-align: center;
}

figcaption {
	font-weight: normal;
}

.post {
	color: #000000;
	font-weight: 600;
}

.custom-body-content {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	padding-top: 150px;
	color: #ffffff;
}

.custom-content-container {
	background-color: rgba(80, 30, 88, 0.5);
	padding: 5px 100px 10px 100px;
}

.custom-content {
	padding-top: 20px;
	margin: 10px 0px 10px 0px;
}

.custom-content p {
	font-size: 1.3em;
}

.custom-content-title {
	font-size: 2em;
}

.custom-ul {
	font-weight: normal;
	font-size: 1.2em;
}

.custom-reference-ol {
	font-weight: normal;
}

.card-title {
	color: #ffffff !important;
}

.custom-text-white {
	color: #ffffff !important;
}

.custom-subtitle {
	font-size: 1.4em;
}

.custom-subtitle-white {
	color: #ffffff !important;
	font-size: 1.2em;
	/*font-weight: bold;*/
}

.jumbotron {
	background-color: rgba(80, 30, 88, 0.4) !important;
}

.author {
	color: #ffffff !important;
}
